body{
    background: linear-gradient(rgb(102, 102, 102), #8eb4df, rgb(146, 199, 109), rgb(223, 223, 125),rgb(112, 112, 214),rgb(64, 45, 240));
    height: 100vh;
    width: 100%;
}
.container{
    margin-top: 40px;
}